<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Auction System</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <script src="/bootstrap/jquery.js"></script>
    <script src="/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="/Datatables/datatables.css">
    <script src="/Datatables/datatables.js"></script>


  


</head>
<body>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="user">Online Auction System</a> System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="user">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="auction">Auction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="bid">Bid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="payment">Payment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shipping">Shipping</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Notification</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="titlepage">
        <h1>Notifications</h1>
      </div>

      <div class="ps-4 pe-4">
        <table class="table dataTable  table-striped table-hover" >
          <thead class="thead-dark">
            <tr class="table-dark">
              <th scope="col">User ID</th>
              <th scope="col">User Name</th>
              <th scope="col">Notification Type</th>
              <th scope="col">TimeStamp</th>
              <th scope="col">Status</th>
              <th scope="col">Option</th>
  
            </tr>
          </thead>
          <tbody>
            <% if (NotificationList) { %>
                <% NotificationList.forEach(Notifications => { %>
            <tr>
              <td scope="col"><%= Notifications.UserID?.UserID ?? null %> </td>
              <td scope="col"><%= Notifications.UserID?.UserName ?? null %> </td>
              <td scope="col"><%= Notifications.NotificationType %></td>
              <td scope="col"><%= new Date(Notifications.TimesStamp).toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true }) %></td>
              <td scope="col"><%= Notifications.Status %></td>
              <td>
                <a type="button" class="btn btn-info update-button" data-bs-toggle="modal" data-bs-target="#view<%= Notifications._id %>" data-position="<%= Notifications._id %>">VIEW</a> 
                <button type="button" class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#delete" data-notification="<%= Notifications._id %>">DELETE</button>

              </td>
            </tr>

            <!-- UPDATE MODAL -->
         <div class="modal fade" id="view<%= Notifications._id %>" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog  modal-md">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <form action="/api/notification/<%= Notifications._id %>?_method=PUT"  method="POST" class="position-relative">
                <p>Name: <%= Notifications.UserID?.UserName ?? null %>  <br> ID: <%= Notifications.UserID?.UserID ?? null %></p>
                <br>
                <h5>About <%= Notifications.NotificationType %></h5>
                <p style="margin-top: 18px; font-size: 18px;"> <%= Notifications.Content %></p>

                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
          </div>
          </div>
      </div>
      </div>
          
          <!-- DELETE MODAL -->
          <div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete this notification?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <form action="/api/notification/<%= Notifications._id %>" method="POST" class="position-relative">
                    <input type="hidden" id="notificationIdInput" name="notificationId" >
                    <button type="button" class="btn btn-success" id="confirmDelete">Confirm</button>
                </form>
                </div>
            </div>
            </div>
        </div>

            <% }) %>
            <% } else { %>
              <tr>
                <td colspan="6">No Notification found.</td>
              </tr>
            <% } %>
  
            </tbody>
            </table>
      </div>
  
        <script src="/js/notification.js"></script>
        <script src="/js/axios.js"></script>


</body>
</html>